body {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: black; }

button, input[type=submit] {
  background-color: #6C8896;
  color: white;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 16px;
  transition: 0.2s background-color;
  cursor: pointer;
  box-sizing: content-box;
  border-radius: 4px;
  letter-spacing: 1px;
  margin-left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-weight: normal; }
  button:hover, input[type=submit]:hover {
    background-color: #8A5B6C; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  background-color: white; }
  #header > div {
    width: 80%;
    max-width: 700px;
    min-width: 300px;
    margin: 0 auto;
    height: 150px;
    border-bottom: 1px solid #ccc; }
  #header .header-section {
    display: block;
    text-align: center; }
    #header .header-section > div, #header .header-section button, #header .header-section h1 {
      display: inline-block; }
  #header h1 {
    font-size: 130%;
    font-weight: normal;
    margin: 15px; }
  #header input[type=text] {
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    width: 150px;
    height: 26px;
    padding: 0 4px;
    line-height: 20px;
    box-sizing: border-box;
    margin: 4px;
    border-radius: 3px;
    border: 1px solid #ccc; }

#content {
  width: 75%;
  max-width: 450px;
  min-width: 300px;
  padding-top: 150px;
  padding-bottom: 60px;
  margin: 0 auto; }

.device-list {
  list-style-type: none;
  padding: 0; }
  .device-list li {
    display: block;
    clear: both;
    height: 130px;
    overflow: hidden; }
    .device-list li.animate-item {
      transition: 0.1s ease-in-out all; }
      .device-list li.animate-item.ng-leave {
        max-height: 130px;
        opacity: 1; }
        .device-list li.animate-item.ng-leave.ng-leave-active {
          max-height: 0;
          opacity: 0; }
    .device-list li > div {
      margin-top: 24px;
      padding-top: 6px;
      height: 100px;
      border-right: 2px solid #ccc; }
    .device-list li .thumbnail {
      width: 100px;
      float: left; }
    .device-list li img {
      max-width: 100px;
      max-height: 80px; }
    .device-list li h2 {
      font-size: 100%;
      font-weight: normal;
      margin: 2px 20px 8px 120px;
      max-height: 48px;
      overflow: hidden; }
    .device-list li button {
      display: block;
      margin-left: 120px; }
