
<div id="header">
  <div>
    <div class="header-section" ng-if="devices.isSearching"><button class="navigation" ng-click="devices.endSearch()">&laquo; My Devices</button><span class="divider"> | </span><h1>Search Results</h1></div>
    <div class="header-section" ng-if="!devices.isSearching"><h1>My Devices</h1></div>
    <div class="header-section"><form ng-submit="devices.search($event, devices.searchQuery)"><input type="text" ng-model="devices.searchQuery"><input type="submit" value="Search"></form></div>
  </div>
</div>

<div id="content">
  <h3 ng-if="devices.searchStatus == 'success' && !devices.results.length">No Results</h2>
  <h3 ng-if="devices.searchStatus == 'loading'">Loading...</h2>
  <h3 ng-if="devices.searchStatus == 'error'">Search error, please check your network connection</h2>

  <ul class="device-list" ng-if="devices.isSearching">
    <li ng-repeat="item in devices.results track by item.id" class="item">
      <div>
        <div class="thumbnail">
          <img ng-if="item.image && item.image.thumbnail" ng-src="{{item.image.thumbnail}}">
        </div>
        <h2>{{item.title}}</h2>
        <button ng-if="!devices.viewModelSet[item.id]" class="action" ng-click="devices.add(item)">Add</button>
        <button ng-if="devices.viewModelSet[item.id]" class="action" ng-click="devices.removeById(item.namespace, item.title)">Remove</button>
      </div>
    </li>
  </ul>

  <ul class="device-list" ng-if="!devices.isSearching">
    <li ng-repeat="item in devices.viewModelList track by item.id" class="item animate-item">
      <div>
        <div class="thumbnail">
          <img ng-if="item.image && item.image.thumbnail" ng-src="{{item.image.thumbnail}}">
        </div>
        <h2>{{item.title}}</h2>
        <button class="action" ng-click="devices.remove($index)">Remove</button>
      </div>
    </li>
  </ul>
</div>
